<!doctype html>
<html lang="{{ site.language }}" class="h-100">
  <head>
    {% block head %}
      {% include "components/head.njk" %}
    {% endblock head %}
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark bg-image"
        style="
          background-image: url({{ bg_img | safe }});
          height: 100vh;
          background-size: cover;"
  >

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% block header %}
      {% include "components/header.njk" %}
    {% endblock header %}

    {% block content %}
      <main class="px-3">
        <h1>{{ env.current }}</h1>
        {{ content|safe }}
      </main>
    {% endblock content %}

    {% block button %}
      <p class="lead">
        {% include "components/button.njk" %}
      </p>
    {% endblock button %}

    {% block footer %}
      {% include "components/footer.njk" %}
    {% endblock footer %}

    {% block js %}
      <script src="/_assets/main.js"></script>

      {% if env.isDev %}
        <script src="/_assets/main.js.map" rel="application/json"></script>
      {% endif %}
    {% endblock js %}
  </div>
  </body>
</html>
